.proyectos {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background: #dda15e;
}

/*Esta es el contenedor general que engloba a los proyectos*/
.galeriaProyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.proyecto {
    background-color: rgb(53,52,52);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(33% -40px);/*ajusta el ancho según la cantidad de proyectos a mostrar*/
    box-shadow: 0 2px 5px;
    text-align: center;
}

/*Imagen del proyecto*/
.proyecto img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/*titulo del proyecto*/
.proyecto h3{
    margin-top: 10px;
    font-size: 1.2rem;
}

/*descripción del proyecto*/
.proyecto p{
    margin: 10px 0;
}

/*Botones enlaces ancor*/
.proyecto a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
/*Botones de los proyectos*/
.proyecto a:hover{
    background-color: #0056b3;
}

/*Media queries para hacerlo responsivo celuluar*/
@media (max-width: 767px){
    .proyecto{
        width: calc(100% - 40px);
    }
}

/*Media Queries para hacerlo responsivo Tablet*/
@media (min-width: 768px) and (max-width: 1023px){
    .proyecto{
        width: calc(50% -40px);
    }
}

/*Media Queries para hacerlo responsivo Desktop*/
@media(min-width: 1024px){
    .proyecto{
        width: calc(33% - 40px);
    }
}