/*variables globales*/
:root{
    --body-bg-color: rgb(43,43,70);
    --text-color:white;
    --colorh1-color:rgb(215,211,211);
}

/*aplico variable creada en root*/
body{
    background: var(--body-bg-color);
    color: var(--text-color);
}

.navigation{/*estilos que aplican si el elemento en html integra la clase*/
    display: flex;/*los elementos se ordenan en filas*/
    gap: 3rem;/*separamos texto de los elementos de las filas-  Sobre mi, etc*/
    list-style: none;/*sacamos los puntos de las etiquetas li*/
    justify-content: flex-end;/*los elementos del nav se posicionan hacia la derecha*/
}

a{
 text-decoration: none;/*sacamos el subrayado del elemento a*/
 color: black;/*indicamos que color de fuente sea negro*/
}

/*Enlaces de la barra de navegación configurados como si fueran  botones*/
.navigation li{
    font-size: 1rem;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #f0eaf0;
    box-shadow: 0 0 0.5rem;
}

.sobreMi {
    display: flex;
    justify-content: center;/*centramos el elemento*/
}

.containerSobreMi{
    display: flex;
    width: 50%;
    padding: 2rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-size: large;
    color: black;
    gap: 5rem;/*separa la img del texto*/
    align-items: center;
}

.imgPerfil{
    border-radius: 50%;
}

.experiencia, .estudios{
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: azure;
}

.containerExperiencia, .containerEstudios{
    width: 100%;
    padding: 2rem;
    margin-top: 5rem;
    line-height: 2,5rem;
    font-size: large;
    margin: 8rem;
}

/*agregamos código para que sea responsive*/
/*Media queries agrupadas*/
/*Celular (Pantallas pequeñas, hasta 767px)*/
@media(max-width: 767px){
    .titulo{
        justify-content: center;
    }
    .navigation{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .containerSobreMi{
        width: 100%;
        padding: 1;
        margin-top: 1rem;/*margen en sentido altura*/
        line-height: 2.5rem;/*espacios entre párrafos*/
        font-size: small;/*tamaño de la fuente*/
        flex-direction: column;/*coloca la foto personal en columna*/
    }
    /*agrego el responsivo de las secciones experiencia y estudios*/
    .containerExperiencia, .containerEstudios{
        width: 100%;
        margin: 0rem;
    }

    .experiencia, .estudios{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        font-size: small;
    }
}

/*tableta (pantallas medianas, entre 768px y 1023px)*/
@media(min-width:768px) and (max-width:1023px){
    .titulo{
        justify-content: center;
    }
    .navigation{
        gap: 2rem;
        justify-content: center;
    }
}

/*Escritorio (Pantallas anchas, 1024px y superiores*/
@media(min-width: 1024px){
    .titulo{
        justify-content: flex-start;
    }
    .navigation{
        gap: 3rem;
        justify-content: flex-end;
        margin: 0 3rem;
    }
    /*agrego especificaciones para sección experiencia y estudios*/
    .experiencia, .estudios{
        width: 75%;
    }
    
}